<script lang="ts">
import rightPointer from  '../assets/right-pointer.png';
import leftPointer from  '../assets/left-pointer.png';
import topLeftPointer from  '../assets/top-left-pointer.png';
import topRightPointer from  '../assets/top-right-pointer.png';
import botRightPointer from  '../assets/bot-right-pointer.png';
import botLeftPointer from  '../assets/bot-left-pointer.png';

export default {
    props: ['showViewDirection', 'direction', 'avatar'],
    methods: {
        getImage(direction:string) {
            if (direction === 'left'){
                return leftPointer
            }
            if (direction === 'top-left'){
                return topLeftPointer
            }            
            if (direction === 'bot-left'){
                return botLeftPointer
            }            
            if (direction === 'top-right'){
                return topRightPointer
            }            
            if (direction === 'bot-right'){
                return botRightPointer
            }
            return rightPointer
        }
    }
}
</script>

<template>
    <div>
    <img class="tile-avatar" :src=avatar>
    <img :class="'direction ' + direction" :src="getImage(direction)" v-if="showViewDirection">
    </div>
</template>

<style>
.tile-avatar {
    height: 64px;
    width: 64px;
    position: absolute;
    top: 4px;
    z-index: 3;
}

.direction {
    position: absolute;
    z-index: 3;
}

.direction.right {
    top: 30px;
    left: 50px;
}
.direction.left {
    top: 30px;
}
.direction.top-right {
    top: 8px;
    left: 40px;
}
.direction.bot-right {
    top: 48px;
    left: 40px;
}
.direction.top-left 
{
    top: 8px;
    left: 10px;
}
.direction.bot-left {
   top: 48px;
    left: 10px;
}
</style>