<script lang="ts">
import { useGridStore } from '@/stores/grid';
import Tile from './Tile.vue';
import type { TileData } from '@/stores/grid';

export default {
    computed:{
        grid(){
            return useGridStore().grid
        },
        rows() {
            return useGridStore().rows
        },
        creatures() {
            return useGridStore().creatures
        }
    },
    methods: {
    },
    components: {
    Tile,
    },
}
</script>

<template>
    <div class="container">
        <div class="row" v-for="(row, j) in rows">
            <div class="padding" v-if="j % 2 == 1"></div>
            <Tile v-for="tiledata in row" 
                :row-length="row.length" 
                :tiledata="tiledata">
                </Tile>


        </div>
    </div>
</template>

<style scoped>


.container {
    max-width: calc(100vw - 600px);
    height: calc(90vh - 74px);
    overflow: auto;
}

.row {
    height: 60px;
    width: max-content;
}
.padding {
    width: 34px;
    height: 68px;
    display: inline-block;
}


</style>