<script lang="ts">
export default {
  props: ['borderclass', 'shadowed', 'isWall', 'x', 'y']
}
</script>

<template>
  <div class="hex">
    <div :class="borderclass"></div>
    <div :class="'filter' +(shadowed ? ' shadowed': '') + (isWall ? ' is-wall': '')"></div>
    <div class='hex-inner' :style="'background-position: left -' + (68 * x + ((y % 2 == 0) ? 0:34)) +'px top -'+ 60 * y+'px;'"></div>
  </div>
</template>

<style scoped>
.hex {
  width: 68px;
  height: 74px;
  display: inline-block;
  position: relative;
}

.border {
  width: 64px;
  height: 74px;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  position: absolute;
  background-color: rgba(220, 220, 220, 0.4);
}

.filter.shadowed{
  background: rgba(0, 0, 0, 0.25);
}

.filter.is-wall {
  background: rgba(200, 200, 200, 0.75);
}

.filter {
  width: 62px;
  height: 72px;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  position: absolute;
  left: 1px;
  top: 1px; 
  z-index: 1;
}

.glow {
  background: rgba(220,220, 220, 1);
}

.hex-inner {
  width: 62px;
  height: 72px;
  background-image: url('../assets/background.png');
  background-repeat: no-repeat;
  background-size: initial;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  position: absolute;
  left: 1px;
  top: 1px;

}

.hex-inner.is-wall {
  background-image: ;

}
</style>
