<script lang="ts">
import { useGridStore, useMouseInfoStore } from '@/stores/grid';

export default {
    data() {
        return { actionHover: null, statusHover: null }
    },
    computed: {
        selectedCreature() {
            const store = useMouseInfoStore()
            return store.clickSelectedCreature
        }
    }
}

</script>



<template>
    <div class="inventory">
        <div class="slots" @mouseleave="this.tooltipHover = null">
            <div class="slot" v-for="i of [0, 1, 2, 3, 4, 5, 6, 7]" @mouseover="actionHover = i">
                <img v-if="selectedCreature && selectedCreature.actionData.length > i"
                    :src="selectedCreature.actionData[i].imgUrl">
            </div>
        </div>
        <div v-if="actionHover != null && selectedCreature && selectedCreature.actionData[actionHover]" class="tooltip">
            {{ selectedCreature.actionData[actionHover].tooltipText }}
        </div>
        <div class="slots" @mouseleave="this.statusHover = null">
            <div class="slot" v-for="i of [0, 1, 2, 3, 4, 5, 6, 7]" @mouseover="statusHover = i">
                <div v-if="selectedCreature && selectedCreature.statusData.length > i">
                    <img :src="selectedCreature.statusData[i].imgUrl">
                    <span>{{ selectedCreature.statusData[i].duration }}</span>
                </div>

            </div>
        </div>
        <div v-if="statusHover != null && selectedCreature && selectedCreature.statusData[statusHover]" class="tooltip">
            {{ selectedCreature.statusData[statusHover].tooltipText }}
        </div>
    </div>
</template>



<style scoped>
.inventory {
    width: calc(100vw - 600px);
    margin-top: 20px;
    position: relative;
    overflow: visible;
    display: flex;
}

.img {
    width: 64px;
    height: 64px;
}

.tooltip {
    position: absolute;
    bottom: 80px;
    border-radius: 8px;
    border: 1px solid #666;
    background-color: #222;
    z-index: 5;
    color: white;
    padding: 5px 10px;
}

.inventory .slot {
    width: 64px;
    height: 64px;
    flex-shrink: 0;
    border: 2px solid #666;
    background-color: #222;
    position: relative;
}


.slot span {
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 0;
    color: white;
    line-height: 18px;
}

.slots {
    width: calc(100vw - 600px);
    height: 80px;
    display: flex;
    overflow: auto;

}
</style>