<script lang="ts">
import { ActionData, StatusData, useGridStore, useMouseInfoStore } from '@/stores/grid';
import mob1 from '@/assets/mob1.png';
import mob2 from '@/assets/mob2.png';
import mob3 from '@/assets/mob2-1.png';
import mob4 from '@/assets/mob2-2.png';
import mob4_1 from '@/assets/mob2-3.png';
import mob5 from '@/assets/mob3.png';
import mob6 from '@/assets/mob4.png';
import mob7 from '@/assets/mob5.png';
import mob8 from '@/assets/mob6.png';
import mob9 from '@/assets/mob7.png';
import mob10 from '@/assets/mob8.png';
import mob11 from '@/assets/mob8-1.png';
import action1 from '@/assets/action1.png';
import action2 from '@/assets/action2.png';
import action3 from '@/assets/action3-1.png';
import action4 from '@/assets/action3-2.png';
import status1 from '@/assets/status1.png';


export default {
    data() {
        const moblist = [mob1, mob2, mob3, mob4, mob4_1, mob5, mob6, mob7, mob8, mob9, mob10, mob11]
        const actionlist = [action1, action2, action3, action4]
        const statuslist = [status1]

        return {
            spawnDropdown: false, actionDropdown: false, tooltiptext: "", statustooltiptext: "",
            actionlist, statuslist, moblist, statusDropdown: false, duration: 1
        }
    },
    computed: {
        mode() {
            return useMouseInfoStore().mode
        }
    },
    methods: {
        onclick(elem: DragEvent) {
            const img: HTMLImageElement = elem.target
            if (!img) return;
            const mouseStore = useMouseInfoStore()
            mouseStore.dragSpawn = img.src
        },
        dragOver(ev: DragEvent) {
            ev.preventDefault()
            if (ev.dataTransfer)
                ev.dataTransfer.dropEffect = "move";
        },
        onDragActionStart(ev: DragEvent) {
            const mouseStore = useMouseInfoStore()
            const img: HTMLImageElement = ev.target
            if (!img) return;
            mouseStore.dragAction = new ActionData(img.src, this.tooltiptext)
        },
        onDragStatusStart(ev: DragEvent) {
            const mouseStore = useMouseInfoStore()
            const img: HTMLImageElement = ev.target
            if (!img) return;
            mouseStore.dragStatus = new StatusData(img.src, this.statustooltiptext, this.duration)
        },
        deleteDragged() {
            const gridStore = useGridStore()
            const mouseStore = useMouseInfoStore()
            const t = mouseStore.tileDragged
            if (t == null) {
                return
            }
            gridStore.deleteCreature(t.hash())
        },
        setMode(value: string) {
            const mouseStore = useMouseInfoStore().mode = value
        }
    }
}
</script>



<template>
    <div class="panel">
        <div class="menu">
            <div>Mouse mode</div>
            <div class="options-toggle">
                <div :class="mode == 'normal' ? 'selected' : ''" @click="setMode('normal')">
                    Move
                </div>
                <div :class="mode == 'view' ? 'selected' : ''" @click="setMode('view')">
                    View
                </div>
                <div :class="mode == 'wall' ? 'selected' : ''" @click="setMode('wall')">
                    Wall
                </div>
            </div>
        </div>
        <div class="menu btn" v-on:click="spawnDropdown = !spawnDropdown">
            Spawn creature
        </div>
        <div v-if="spawnDropdown" class="spawn-dropdown">
            <img v-for="src in moblist" :src="src" v-on:dragstart="onclick($event)">
        </div>
        <div class="menu btn" @click="actionDropdown = !actionDropdown">
            Add action
        </div>
        <div v-if="actionDropdown" class="action-dropdown">
            <img :src="src" v-for="src in actionlist" @dragstart="onDragActionStart($event)">
            <textarea placeholder="Some tooltip info" v-model="tooltiptext"></textarea>
        </div>
        <div class="menu btn" @click="statusDropdown = !statusDropdown">
            Add status
        </div>
        <div v-if="statusDropdown" class="status-dropdown">
            <img :src="src" v-for="src in statuslist" @dragstart="onDragStatusStart($event)">
            <input type="number" v-model="duration">
            <textarea placeholder="Some tooltip info" v-model="statustooltiptext"></textarea>
        </div>

        <div class="delete" @drop="deleteDragged" v-on:dragover="dragOver($event)">
            Delete
        </div>
    </div>
</template>

<style scoped>
.menu {
    background-color: #333;
    border: 1px solid #999;
    width: 200px;
    text-align: center;
}

.btn {
    cursor: pointer;
}

.panel {
    display: flex;
    flex-direction: column;
}

.panel div {
    width: 200px;
}

.options-toggle {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}

.selected {
    background-color: #444;
    border: 1px solid #999;
}

textarea {
    width: 100%;
    color: white;
    background: #333;
}

.status-dropdown input {
    width: 70px;
    background-color: #444;
    color: white
}

.spawn-dropdown img {
    display: inline-block;
    width: 64px;
    height: 64px;
}

.delete {
    border: 2px dotted #999;
    height: 100px;
    text-align: center;
    line-height: 100px;
}
</style>