<script lang="ts">
import Grid from './components/Grid.vue';
import { CreatureData, useGridStore, useMouseInfoStore } from './stores/grid';
import LeftPanel from './components/LeftPanel.vue';
import TableRow from './components/TableRow.vue';
import Inventory from './components/Inventory.vue'
export default {
  data() {
    return {mouseStore:useMouseInfoStore(), grid:useGridStore()}
  },
  components: {
    Grid,
    LeftPanel,
    TableRow,
    Inventory,
  },
}

</script>

<template>
  <div class="wrapper">
  <LeftPanel></LeftPanel>
  <div>
    <Grid/>
    <Inventory></Inventory>
  </div>
  <div class="right-panel">
    <TableRow v-for="c in grid.creaturesByInitiative" 
        :creatureData="c" 
        :highlit="mouseStore.hoveredCreature && mouseStore.hoveredCreature.id == c.id" 
        :selected="mouseStore.clickSelectedCreature && c.id== mouseStore.clickSelectedCreature.id" 
        :is-active="grid.onTrait == grid.creaturesByInitiative.indexOf(c)"></TableRow>
  </div>
</div>
</template>

<style scoped>

.right-panel {
  width: 300px;
}
.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw;
}


</style>
